<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css" >
    <title>Document</title>
</head>
<body>
    <p>Chat App</p>
        <form action="{{url_for('chat')}}" method="POST">
            <div class="flex">
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" autocomplete="off" required autofocus>
                <input type="text" id="room" name="room" class="form-control" placeholder="Room" autocomplete="off" required>
            </div>
            <div class="flex">
                <button value="submit" class="form-button">Start Chat</button>
            </div>
        </form>
</body>
</html>
